/* ================================ */

/* MEDIA QUERIES HEADER */

/* Mobile : max-width: 768px */
/* Tablettes : max-width: 992px */
/* Desktop : min-width: 992px */

@media screen and (min-width: 768px) {
   .populaire-carte > :nth-child(2) {
      width: 50%;
   }

   .section-filtres {
      padding: 0 70px;
   }
}

/* TABLETTES */
@media screen and (max-width: 992px) {
   /* SECTION CARTES */
   .section-cartes {
      background-color: #ffffff;
      flex-direction: column-reverse;
      padding: 0;
   }

   /* hebergement */
   #hebergements {
      width: 100%;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   .hebergement-carte > :nth-child(2) {
      margin-top: 10px;
      font-size: 24px;
   }

   .hebergement-carte {
      width: 400px;
      margin: 20px auto;
      height: 100%;
   }

   .hebergement-carte img {
      width: 100%;
   }

   .hebergement-carte p {
      font-size: 10px;
   }

   .hebergement-carte > :nth-child(2) {
      font-size: 20px;
   }

   .hebergement-carte > :nth-child(3) {
      font-size: 14px;
   }

   /* populaires */
   #populaires {
      min-width: 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   #populaires > :first-child {
      padding: 0 55px;
   }

   .populaire-carte {
      height: 200px;
   }

   .populaire-carte img {
      height: auto;
   }

   .populaire-carte > div > :nth-child(1) {
      font-size: 21px;
      margin-top: 15px;
   }

   .populaire-carte div p {
      font-size: 18px;
   }

   .populaire-carte > div > :nth-child(3) {
      margin-top: 5px;
   }
}

/* MOBILES */
@media screen and (max-width: 768px) {
   /* HEADER */

   header {
      padding: 0;
      flex-direction: column;
      width: 100%;
      margin: 0;
      flex-wrap: wrap;
   }

   header img {
      height: auto;
      width: 140px;
      margin: 0 auto;
      padding: 20px 0;
   }

   header div {
      width: 100%;
   }

   header a {
      width: 50%;
      text-align: center;
      padding: 10px;
      font-size: 23px;
      border-bottom: transparent 4px solid;
      border-top: none;
      padding-bottom: 20px;
   }

   header a:hover {
      border-bottom: #0065fc 4px solid;
      border-top: none;
   }

   /* MAIN */

   main {
      width: 100%;
      margin-right: 0;
   }

   main > h1 {
      margin: 30px 30px 0;
      font-size: 30px;
      width: 80%;
      line-break: auto;
      margin-bottom: 0px;
   }

   main > p {
      margin-left: 30px;
      margin-right: 30px;
      font-size: 18px;
   }

   main form {
      margin: 50px auto;
      width: 90%;
   }

   main form i:first-child {
      padding: 30px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
   }

   main input {
      height: 80px;
      left: 75px;
      width: 100%;
      font-size: 26px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
   }

   main button {
      display: none;
   }

   main form i:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   /* SECTION RECHERCHES */

   /* MAIN SECTION FILTRES */

   .section-filtres {
      margin-left: 0;
   }

   .bouton-filtres {
      height: 68px;
      margin-left: 30px;
      margin-right: 40px;
      border: gainsboro 3px solid;
      max-height: 68px;
   }

   .bouton-filtres-icon {
      height: 68px;
      width: 68px;
   }

   .section-filtres h2 {
      margin-top: 0px;
      margin-left: 30px;
      margin-bottom: 40px;
      font-size: 24px;
      width: 100%;
   }

   .bouton-filtres span {
      padding: 10px 20px 10px 10px;
   }

   /* infos */
   .infos {
      margin: 40px 0 40px 30px;
      align-items: flex-start;
      margin-right: 10px;
   }

   .infos span {
      margin: 0 20px 0 0px;
      padding: 15px;
      font-size: 23px;
   }

   .infos p {
      font-size: 25px;
   }

   /* SECTION CARTES */

   .sections-titre {
      text-align: left;
      font-size: 24px;
   }

   /* carte hébergement */
   .section-cartes > div {
      width: 100%;
   }

   #hebergements {
      background-color: #ffffff;
      padding: 30px;
      display: initial;
      width: 100%;
   }

   .hebergement-conteneur-cartes a {
      width: 100%;
   }

   .hebergement-carte {
      margin: 0 0 20px 0px;
      width: 100%;
      padding: 10px;
   }

   .hebergement-carte img {
      width: 100%;
      height: 180px;
   }

   .hebergement-carte p {
      margin: 4px 10px;
      font-size: 18px;
   }

   .hebergement-carte > :nth-child(2) {
      margin-top: 10px;
      font-size: 20px;
   }

   .hebergement-carte > :nth-child(3) :last-child {
      font-size: 18px;
   }

   .hebergement-carte > :nth-child(4) {
      font-size: 17px;
   }

   #hebergements > :last-child {
      font-size: 26px;
      cursor: pointer;
   }

   /* carte populaires */

   #populaires {
      box-sizing: border-box;
      width: 100%;
      padding-right: 0;
   }

   #populaires > :first-child {
      max-width: 600px;
      width: 95%;
      padding: 0;
      padding-right: 20px;
   }

   #populaires > :first-child i {
      font-size: x-large;
   }

   .populaire-carte {
      width: 95%;
      min-height: 210px;
      padding: 10px;
      border-radius: 25px;
   }

   .populaire-carte img {
      min-width: 190px;
      width: 45%;
      height: 180px;
      border-radius: 25px 0 0 25px;
      object-fit: cover;
      object-position: center;
   }

   .populaire-carte > :nth-child(2) {
      margin-left: 10px;
      font-size: 18px;
      width: 100%;
      position: relative;
   }

   .populaire-carte > div > :nth-child(1) {
      font-weight: bold;
      font-size: 18px;
      margin-top: 10px;
   }
   .populaire-carte > div > :nth-child(2) {
      font-size: 16px;
   }
   .populaire-carte > div > :nth-child(3) {
      font-size: 16px;
   }

   .populaire-carte div p {
      font-size: 21px;
   }

   .populaire-carte > div > :nth-child(3) {
      position: absolute;
      bottom: 0;
   }

   #hebergements > :last-child {
      margin: 40px 0;
      font-size: 20px;
      font-weight: bold;
   }

   /* carte activités */

   #activités {
      padding: 0px 30px 0px;
      padding-bottom: 0;
   }

   #activités h1 {
      margin-top: 0;
   }

   #activités > div {
      margin: 0;
      padding-top: 0;
   }

   .activités-conteneurs {
      width: 100%;
      height: 100%;
      max-width: 600px;
      margin-right: 0;
      margin-bottom: 0px;
   }

   .activités-conteneurs:not(:last-child) {
      margin-right: 0;
   }

   .activités-conteneurs:nth-child(odd) {
      margin-bottom: 50px;
   }

   .activités-conteneurs div {
      margin-bottom: 50px;
   }

   .activités-conteneurs img {
      max-height: 170px;
   }

   .activités-conteneurs span {
      margin: 12px 15px;
      font-size: 20px;
   }

   .activités-conteneurs:not(:nth-child(even)) {
      box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
      border-radius: 25px;
   }

   .activités-conteneurs > div {
      box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
      border-radius: 25px;
   }
   /* FOOTER */
   footer {
      flex-direction: column;
      padding: 0;
      width: 100%;
   }

   footer h2 {
      font-size: 27px;
   }

   footer nav {
      width: initial;
      padding: 0 0 0 30px;
      margin-left: 0;
   }

   footer a {
      font-size: 24px;
   }
}

@media screen and (max-width: 500px) {
   header img {
      width: 120px;
   }

   header a {
      font-size: 18px;
   }

   main > h1 {
      font-size: 20px;
   }

   main > p {
      font-size: 15px;
   }
   main form {
      height: 55px;
   }

   main form input {
      height: 100%;
      font-size: 15px;
   }

   main form i:last-child {
      padding: 27px 18px;
   }

   main form i:first-child {
      font-size: 18px;
      padding: 15px 25px;
   }

   main .populaire-carte p {
      margin-left: 10px;
      margin-right: 0px;
   }

   .section-filtres {
      padding-right: 0;
   }

   .section-filtres h2 {
      font-size: 20px;
      margin-left: 15px;
   }

   .bouton-filtres {
      height: 50px;
      margin-right: 10px;
      margin-left: 15px;
   }

   .bouton-filtres-icon {
      height: 50px;
      width: 50px;
   }

   .bouton-filtres span {
      font-size: 16px;
      padding: 0 10px;
   }

   .infos {
      margin-left: 15px;
   }

   .infos span {
      padding: 10px;
      font-size: 17px;
      margin-left: 0px;
   }

   .infos p {
      font-size: 14px;
      margin-right: 10px;
   }

   #populaires > :first-child i {
      margin-top: 20px;
      font-size: 20px;
   }

   #populaires {
      padding-left: 15px;
   }

   .populaire-carte {
      min-height: 0;
      height: 150px;
   }

   .populaire-carte > :nth-child(2) {
      margin-left: 0px;
      font-size: 18px;
      width: 100%;
   }
   .populaire-carte > :first-child {
      height: 100%;
      min-width: 70px;
   }

   .populaire-carte > div > :nth-child(1) {
      font-weight: bold;
      font-size: 17px;
      margin-top: 10px;
   }

   .populaire-carte div p {
      font-size: 14px;
   }

   .populaire-carte > div > :nth-child(3) {
      font-size: 15px;
      position: absolute;
      bottom: 0;
   }

   .hebergement-carte img {
      width: 100%;
      height: 120px;
   }

   .hebergement-carte > :nth-child(2) {
      margin-top: 10px;
      font-size: 20px;
   }

   .hebergement-carte > :nth-child(3) :last-child {
      font-size: 16px;
   }

   .hebergement-carte > :nth-child(4) {
      font-size: 15px;
   }

   #hebergements > :last-child {
      font-size: 17px;
      margin-top: 15px;
      text-align: center;
   }

   #hebergements h2 {
      margin-top: 15px;
   }

   .hebergement-carte > :nth-child(2) {
      font-size: 17px;
   }

   .hebergement-carte > :nth-child(3) :last-child {
      font-size: 15px;
   }

   .activités-conteneurs span {
      margin: 1px 6px;
      font-size: 17px;
   }

   .activités-conteneurs img {
      max-height: 130px;
   }

   footer nav {
      padding: 15px 0;
      margin-left: 30px;
   }

   footer h2 {
      font-size: 18px;
      margin: 10px 0;
   }

   footer a {
      font-size: 14px;
      margin: 5px 0;
   }
}

/* ================================ */
